input[type="text"],
input[type="email"]
{
    border:thin solid whitesmoke;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
}

.errors{
    font-weight: bold;
    color: rgb(236, 43, 43);
}